node_modules
bower_components
.grunt
_SpecRunner.html


.bowerrc

.idea/
db.sqlite3
#manage.py



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
