{% load i18n %}
<!-- Container (The Band Section) -->
<div id="aboutme" class="container-fluid text-center">
    <div class="header">
        <h1>자기소개</h1>
    </div>
    <br>
    <div class="row">
        <div class="container">
            <div class="col-sm-4">
                {#                    <p class="text-center"><strong>Name</strong></p><br>#}
                <a href="#demo" data-toggle="collapse">
                    <img src="/media/paige.png" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
            </div>
            <div class="col-sm-4">
                <h3 class=""><strong>최대은</strong></h3><br>

                <div id="demo2" class="">
                        <p>서울에 살고있는 주니어 웹 개발자</p>
                        <p>개발 세계에 입문하며 "집착"의 즐거움을 느끼는 중</p>
                        <p>python, node.js, java 를 좋아하고</p>
                        <p>django, flask, express, mongoDB 도 환영</p>
                        <p>호주 6년 이민생활, 구글을 통한 각종 정보검색 탁월</p>
                    <p><a href="https://github.com/paige0701">GITHUB</a></p>
                    <p><a href="https://bitbucket.org/Paige0701/">Bitbucket</a></p>


                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="text-center"><strong>취미</strong></h3><br>
                <div id="demo3" class="">
                    <p>스페인어 공부</p>
                    <p>블로깅</p>
                    <p>밋업</p>

                </div>
            </div>
        </div>
    </div>
</div>