{% load i18n %}
<!-- Container (The Band Section) -->
<div id="aboutme" class="container-fluid text-center">
    <div class="header">
        <h2>{% trans '자기소개' %}</h2>
    </div>
    <br>
    <div class="row">
        <div class="container">
            <div class="col-sm-4">
                {#                    <p class="text-center"><strong>Name</strong></p><br>#}
                <a href="#demo" data-toggle="collapse">
                    <img src="/media/paige.png" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
            </div>
            <div class="col-sm-4">
                <h3 class=""><strong>{% trans '최대은' %}</strong></h3><br>

                <div id="demo2" class="">
                    {% blocktrans %}
                        <p>서울에 살고있는 주니어 웹 개발자 입니다</p>
                        <p>새로운 기술에 관심이 많고</p>
                        <p>주로 python, node.js, java 로 개발을 하고 있습니다</p>
                        <p>django, flask, express, mongoDB 도 관심이 많아요</p>
                        <p>호주에서 7년간 이민생활을 했어요</p>
                    {% endblocktrans %}
                    <p><a href="https://github.com/paige0701">GITHUB</a></p>
                    <p><a href="https://bitbucket.org/Paige0701/">Bitbucket</a></p>


                </div>
            </div>
            <div class="col-sm-4">
                <h3 class="text-center"><strong>{% trans '취미' %}</strong></h3><br>
                <div id="demo3" class="">
                    <p>{% trans '스페인어 공부하기' %}</p>
                    <p>{% trans '여행하기' %}</p>
                    <p>{% trans '여행 블로그 쓰기' %}</p>

                </div>
            </div>
        </div>
    </div>
</div>