<!-- Container (Education Section) -->
    <div id="education" class="container-fluid text-center bg-1 box">
        <div class="header">
            <h2>Education</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-12">
                <h3 class=""><strong>숭실대학교</strong></h3>
                <p>경영학부</p>
                <p> ~ 2017.02 졸업 (학사)</p>
                <p>3.51/4.5</p>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <h3 class=""><strong>KH 정보교육원</strong></h3>
                <p>오라클 기반의 웹어프리케이션 개발 자바 전문가과정</p>
                <p>2016.02 ~ 2016.07</p>
                <p>Java, JSP, Spring, Javascript</p>

            </div>
        </div>
    </div>