{% load i18n %}
<!-- Container (Experience Section) -->
<div id="experience" class="container text-center">
    <div class="header">
        <h1>경력</h1>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            <div class="container">
                <div class="col-sm-6">
                    <img src="/media/kamper.png" alt="" class="img-circle person" style="width:70%; height:50%">
                </div>
                <div class="col-sm-6">
                    <span class="" style="font-size: 1.6em">
                        <strong>KAMPERKOREA</strong>
                    </span>
                    <br>

                        <P>목표 : 전 세계 외국인들의 편리한 정착도움 서비스 구축</P>
                        <p>제작기간 : 2016.04 ~ 2017.04</p>
                        <p>포지션 : 주니어 Python 개발자</p>
                        <p>python과 django, flask, bootstrap, aws</p>
                        <p>그외 : 해외마케팅(페이스북 게시물 제작, 광고관리 등), 번역</p>


                </div>

            </div>
        </div>
    </div>
</div>