{% extends 'base.html' %}
{% load i18n %}
{% block content %}

    {#    <div id="home" class="text-center">#}


<div class="container-fluid text-center">
    <div class="home">
        <h1 id="myname">최대은</h1>
        <h1 id="myrole">소프트웨어 개발자</h1>
    </div>
    <ul id="slideshow">
        <li class="image-responsive"></li>
    </ul>
{#    <img src="/media/IMG_5259.JPG" alt="" class="img-responsive homepic" style="opacity: 0.85"/>#}

    {#    </div>#}
</div>

    {% include 'aboutme.html' %}

    {% include 'skills.html' %}


    {% include 'experience.html' %}

    {% include 'education.html' %}

    {% include 'portfolio.html' %}

{#    {% include 'contact.html' %}#}

    {% block extrascripts %}

        <script>
            $(document).ready(function(){
                // Initialize Tooltip
                $('[data-toggle="tooltip"]').tooltip();

                // Add smooth scrolling to all links in navbar + footer link
                $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

                    // Make sure this.hash has a value before overriding default behavior
                    if (this.hash !== "") {

                        // Prevent default anchor click behavior
                        event.preventDefault();

                        // Store hash
                        var hash = this.hash;

                        // Using jQuery's animate() method to add smooth page scroll
                        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                        $('html, body').animate({
                            scrollTop: $(hash).offset().top
                        }, 900, function(){

                            // Add hash (#) to URL when done scrolling (default click behavior)
                            window.location.hash = hash;
                        });
                    } // End if
                });

                $('.chart').easyPieChart({
                    //your options goes here


                });
            })
        </script>


    {% endblock %}
{% endblock %}