{% load i18n %}
<!-- Container (Portfolio Section) -->
    <div id="portfolio" class="container-fluid text-center">
        <div class="header">
            <h2>{% trans '포트폴리오' %}</h2>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-3">
                <p>KAMPER</p>
                <p>django, python, elastic beanstalk</p>
            </div>
            <div class="col-sm-3">
                <p>KAMPER</p>
                <p>python, flask, aws</p>
            </div>
            <div class="col-sm-3">
                <p>Yelpcamp</p>
                <p>node,js</p>
            </div>
            <div class="col-sm-3">
                <p>TRIPLAN</p>
                <p>travel planning site</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <p>E-commerce Website</p>
                <p>django, python, elastic beanstalk</p>
            </div>
            <div class="col-sm-3">
                <p>E-commerce Website</p>
                <p>python, flask, aws</p>
            </div>
            <div class="col-sm-3">
                <p>Yelpcamp</p>
                <p>node,js</p>
            </div>
            <div class="col-sm-3">
                <p>Yelpcamp</p>
                <p>node,js</p>
            </div>
        </div>
    </div>