{% load i18n %}

<!-- Modal 2 -->
<div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>Kamperkorea-Flask</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table table-bordered">
                        <tr >
                            <td class="active">프로젝트명</td>
                            <td>KAMPERKOREA-flask</td>
                        </tr>
                        <tr>
                            <td class="active">설명</td>
                            <td>flask를 이용하여 ecommerce website 구현</td>
                        </tr>
                        <tr>
                            <td class="active">참여인원</td>
                            <td>2명</td>
                        </tr>
                        <tr>
                            <td class="active">개발환경 및 개발도구</td>
                            <td>
                                <p>O.S : 1.3 GHz Intel Core i5, MacOS</p>
                                <p>Framework : Flask</p>
                                <p>Database : mySQL, sqlalchemy</p>
                                <p>Tool : Pycharm, MySQL Workbench, SourceTree, AWS</p>
                                <p>Language : Python, javascript, bootstrap, jquery, css, html</p>
                                <p>Browser : Chrome</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="active">담당업무</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td class="active">개발기간</td>
                            <td>15주</td>
                        </tr>
                        <tr>
                            <td class="active">주요기능</td>
                            <td>
                                <p>1. 회원가입 및 로그인/로그아웃 기능</p>
                                <p>2. GoogleAPI를 이용한 위치 파악</p>
                                <p>3. 장바구니</p>
                                <p>4. 결제</p>
                                <p>5. 하우징 예약</p>
                                <p>6. 관리자 페이지(회원관리, 상품 등록, 하우징 등록, 통계 등)</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="active">나의 역할</td>
                            <td>
                                <div class="caption-full">
                                    <p>1. 메인페이지 : 화면구성 기획 및 디자인</p>
                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/kamper2/front.png' >
                                </div>


                                <div class="caption-full ">
                                    <p>2. 디테일 페이지 : 결제모듈 연결, 장바구니 항목 업데이트</p>
                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/kamper2/detail.png' >
                                </div>

                                <div class="caption-full ">
                                    <p>3. 카테고리 : 화면구성 및 디자인</p>
                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/kamper2/choose.png' >
                                </div>


                                <div class="caption-full ">
                                    <p>4. 지도 : Ajax로 통신, 지도 드레그 시 범위 안의 아이템 로드 (googlemap API이용)</p>
                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/kamper2/maps.png' >
                                </div>


                                <div class="caption-full ">
                                    <p>5.페이팔 결제 : Paypalsdk 를 이용, 신용카드 결제기능 구현</p>
                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/kamper2/paypal.png' >
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            {#            <div class="modal-footer">#}
            {##}
            {#            </div>#}
        </div>
    </div>
</div>
