
{% load i18n %}
<!-- Modal 4 -->
<div class="modal fade" id="myModal4" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>Triplan</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table table-bordered">
                        <tr >
                            <td class="active">프로젝트명</td>
                            <td>Triplan</td>
                        </tr>
                        <tr>
                            <td class="active">설명</td>
                            <td>Wishbeen 홈페이지를 벤치마킹한 여행 스케쥴링 및 커뮤니티 사이트</td>
                        </tr>
                        <tr>
                            <td class="active">참여인원</td>
                            <td>5명</td>
                        </tr>
                        <tr>
                            <td class="active">개발환경 및 개발도구</td>
                            <td>
                                <p>O.S : Windows 8</p>
                                <p>Framework : Spring3.1.1 + Mybatis</p>
                                <p>Pattern : MVC</p>
                                <p>Database : Oracle 11g</p>
                                <p>Tool : Eclipse , SQLDeveloper , ERWin Modeler</p>
                                <p>Language : Java , JSP , Servlet, Html5 , Java-Script , JQuery , Ajax (JSON)</p>
                                <p>Browser : Chrome</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="active">담당업무</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td class="active">개발기간</td>
                            <td>4주</td>
                        </tr>
                        <tr>
                            <td class="active">주요기능</td>

                                <p>1. 회원가입 및 로그인/로그아웃 기능</p>
                                <p>2. 이메일 API를 이용, 아이디 및 비밀번호 찾기 기능</p>
                                <p>3. Q&A 게시판 기능</p>
                                <p>4. 관광지 후기(별점추가 및 댓글 작성)기능</p>
                                <p>5. 채팅기능</p>
                                <p>6. 구글지도 API활용</p>
                                <p>7. 데이터베이스 기반의 지역 및 스케쥴 검색기능</p>
                                <p>8. 관리자 페이지(회원관리, 관광지 등록, 통계, 회원관리 등)</p>


                            </td>
                        </tr>
                        <tr>
                            <td class="active">{% trans '나의 역할' %}</td>
                            <td>
                                    <p>1. 내 스케쥴 조회</p>
                                    <p>2. 프로필 사진 변경</p>
                                    <p>3. 상태메시지 변경 기능 구현</p>
                                    <p>4. 관광지 위시리스트 추가 기능 구현</p>
                                    <p>5. 관리자페이지 통계</p>
                                    <p>6  페이징 처리</p>
                                    <p>7. 스케쥴 초대, 수락 기능 구현</p>
                                    <a href="https://github.com/paige0701/java-travel-plan">Github 참고</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>