{% load i18n %}

<!-- Modal 3 -->
<div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4>Magenetica</h4>
            </div>
            <div class="modal-body">
                <div>
                    <table class="table table-bordered">
                        <tr >
                            <td class="active">{% trans '프로젝트명' %}</td>
                            <td>MAGNETICA</td>
                        </tr>
                        <tr>
                            <td class="active">{% trans '설명' %}</td>
                            <td>{% trans '전 세계 자석을 공유하는 사이트' %}</td>
                        </tr>
                        <tr>
                            <td class="active">{% trans '참여인원' %}</td>
                            <td>1{% trans '명' %}</td>
                        </tr>
                        <tr>
                            <td class="active">{% trans '개발환경 및 개발도구' %}</td>
                            <td>
                                <p>O.S : 1.3 GHz Intel Core i5, MacOS</p>
                                <p>Framework : Express</p>
                                <p>Database : MongoDB [mongoose]</p>
                                <p>Tool : Cloud9 </p>
                                <p>Language : node.js, javascript, bootstrap, jquery, css, html</p>
                                <p>Browser : Chrome</p>
                            </td>
                        </tr>
                        <tr>
                            <td class="active">{% trans '담당업무' %}</td>
                            <td>100%</td>
                        </tr>
                        <tr>
                            <td class="active">{% trans '개발기간' %}</td>
                            <td>3 {% trans '주' %}</td>
                        </tr>
                        <tr>
                            <td class="active">{% trans '주요기능' %}</td>
                            <td>
                                {% blocktrans %}

                                    <p>1. 회원가입 및 로그인/로그아웃 기능</p>
                                    <p>2. 글쓰기(사진첨부)</p>
                                    <p>3. 댓글쓰기</p>
                                    <p>4. Flashing Messages</p>

                                {% endblocktrans %}

                            </td>
                        </tr>

                        <tr>
                            <td class="active">{% trans '나의 역할' %}</td>
                            <td>


                                <div class="caption-full">
                                    <p>1. {% trans '메인페이지' %} : {% trans '화면구성 기획 및 디자인, @keyframes 를 이용, 백그라운드 애니메이션 삽입' %}</p>
                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/node/front.png' >
                                </div>

                                <div class="caption-full ">
                                    <p>2. {% trans '메인페이지(2)' %} : {% trans 'Bootstrap 그리드를 이용,  반응형 메인페이지 레이아웃 제작' %}</p>
                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/node/index.png' >
                                </div>


                                <div class="caption-full ">
                                    <p>3. {% trans '로그인 및 회원가입' %} : {% trans 'Passport, passport-local 을 이용, 간편한 회원가입과 로그인 구현' %}</p>
                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/node/login.png' >
                                </div>


                                <div class="caption-full">
                                    <p>4 . {% trans '메시지 화면' %} : {% trans 'Connect-flash 를 이용, 상황에 따른 메시지 표현(에러발생-red/미발생-green)' %}</p>
                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/node/f.png' >
                                    <img class='image-responsive modal-photo' src='/media/node/error.png' >
                                </div>


                                <div class="caption-full">
                                    <p>5. {% trans '글쓰기 및 사진 첨부' %} : {% trans 'multipart/form-data form와  Multer, fs module 을 이용, 글쓰기 및 사진 첨부 기능 구현' %}</p>

                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/node/attach.png' >
                                </div>

                                <div class="caption-full ">
                                    <p>6. {% trans '글 삭제 및 편집, 댓글 삭제 및 편집' %} : {% trans 'Authorisation 이용, 댓글 삭제 및 편집' %}</p>
                                </div>
                                <div class="thumbnail">
                                    <img class='image-responsive modal-photo' src='/media/node/show.png' >
                                </div>


                            </td>
                        </tr>


                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
