container_commands:
  00_makemigrate:
    command: "django-admin.py makemigrations"
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_set_file_permissions:
    command: "sudo chmod 775 /var/www/mysite && sudo chmod 664 /var/www/mysite/sqlite.db"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: mysite.settings

